doctype html
html(lang='en')
  head
    style.
      input[type="text"] {
        width: 200px;
        display: block;
        margin: 10px 0;
      }
  body
    h1 Send Yourself A Picture
    form(action='/send', method='POST')
      input(type='text', name='phone', placeholder='enter a phone number')
      input(type='text', name='url', placeholder='paste a URL to a photo')
      input(type='text', name='message', 
        placeholder='optional - include a text message')
      input(type='submit', value='Send me the picture!')

